@function toRem($value) {
    // $remValue: ($value / 16) + rem; 
    $remValue: $value + px; 
    @return $remValue;
}

@mixin fontSize($size_px) {
    font-size: toRem($size_px);
    line-height: toRem($size_px);
}

@mixin AlmoniLight($size_px) {
    font-weight: 300;
    font-size: toRem($size_px);
    line-height: toRem($size_px);
}
@mixin AlmoniNormal($size_px) {
    font-weight: 400;
    font-size: toRem($size_px);
    line-height: toRem($size_px);
}
@mixin AlmoniBold($size_px) {
    font-weight: 700;
    font-size: toRem($size_px);
    line-height: toRem($size_px);
}
@mixin AlmoniBlack($size_px) {
    font-weight: 900;
    font-size: toRem($size_px);
    line-height: toRem($size_px);
}